a(ui-sref='about') About

pre {{ posts }}

div(ng-repeat='post in posts track by $index | orderBy: "-upvotes"')
	span(ng-click='incrementUpvotes(post)').glyphicon.glyphicon-thumbs-up
	| {{ post.upvotes }}
	span(style="font-size:20px; margin-left:10px; margin-right:10px")
		a(ng-if='post.link', ng-href='{{ post.link }}') {{ post.title}}
	span
		a(ui-sref='post({ id:{{post._id}} })') Comments

form(ng-submit='addPost()', style='margin-top:30px;')
	h3 Add a new post
	.form-group
		input(type='text', ng-model='title', placeholder='Title').form-control
	.form-group
		input(type='text', ng-model='link', placeholder='Link').form-control
	button.btn.btn-primary(type='submit') Post