doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(ng-app='mean-thinkster')
		//- h3 This comes from layout.jade
		.row:.col-md-6.col-md-offset-3
			.page-header: h1 Flapper News
			<div ui-view=''></div>

		include scripts